/* Empty. Add your own CSS if you like */

/* Empty. Add your own CSS if you like */
.bar.bar-stable {
    border: none;
     border-color:transparent;
    background-color: #FFF;
    height: 300px
    /*background-image: linear-gradient(0deg, #ffffff, #ffffff 50%, transparent 50%) !important;*/
    color: #fff;
}
.align-center{
  text-align: center;
}
.showing-box {
  background-color: #E0F2F1;
  box-shadow: 1px 2px 6px black;
}

.black-color{
  color: #000 !important;
}
.slider-image {
  width: 100% !important;
  height: 300px !important;
}
.logo{
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 60px;
  height: 80px;
  position: absolute;
  z-index: 99999;
  text-align: center;
  left: 50px;
  right: 50px;
  top: 0;
}
.nms-bg {
  background-color: #a33287 !important;
  color: #FFF !important;
  padding-top: 18px !important;
}
.list
{
  color: #a33287; 
}
.item_wght 
{
  color:#a33287 !important;
  font-weight:700 !important;
  font-size: 20px !important;
}
.clr
{
  color: #000 !important;
  font-weight: 100;
  font-size: 14px !important;
}
li
{
  float: left;
  display: inline-block;
  margin-right: 8px;
}
.btn-adj{
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 15px;
}
.nme-btn{
  background-color: rgb(159,31,99);
  color: #FFF; 
}
.nme-btn:hover{
  background-color: #FFF;
  color:rgb(159,31,99); 
}
.margin-head{
  margin-top: 30px;
}
.logo_bg{
 width: 80px;
 margin: 30px;
}
.red-color{
  color: red;
}
.green-color {
  color: green;
}
.ion_icon{
    font-size: 22px;
    margin-right: 5px;
    color: #688fca;
}
.ion_star{
  color: #e6b500;
}
.button-stable{
      background-color: #a33287 !important;
    color: #ffffff !important;
    float: left;
    display: inline-block;
    padding: 5px;
    margin: 10px 5px;
}
.nms-color{
  color: #a33287 !important;
}
.nms-color:hover,.nms-color:hover .list_post  {
 background-color: #a33287;
  color: #FFF !important;  
}

.nms-color-inner{
  color: #000 !important;
}
.nms-color-inner:hover {
  background-color: #FFEBEE;
  /*color: #FFF !important;  */
}
.nms-white-txt{
   color: #FFF !important;  
}
.list_post{
    margin-top:12px !important;
    color:#a2a2a2 !important;
    font-size:13px !important;
  }
.border {
  box-shadow: 1px 1px 1px rgb(157,36,98);
}
  /*slide*/

    .box {
  height: 100%;
}
.row{
  width: 100%;
  padding: 10px

}
.row .col-3{
  width: 30%;
  padding: 0
}
.row .col-4{
  width: 40%;
  padding: 0
}
.row .col-5{
  width: 50%;
  padding: 0
}
.row .col-6{
  width: 60%;
  padding: 0
} 
.row .col-7{
  width: 70%;
  padding: 0
} 
.list-image{
  width: 70px;
  height: 65px;
  border-radius: 10px
}
.small-bg{
  background-color: #E3F2FD;
  padding:  0px;

}
.listing-box {
  background-color: #BBDEFB;
  box-shadow: 1px 3px 7px black;
  border-radius: 6px;
  margin: 9px
}
.nms-btn{
    border-radius: 3px;
    margin: 5px;
}
.btn-theme1{
  background-color: #F06292;
  border: 1px solid #FF80AB;
  color: #FFF;
}
.link-tag{
  text-decoration: none;
  color: #FFF;
}
ion-slides {
 height: 40vh !important;
}


$base-color: #c24;
$num-colors: 10;

@for $i from 0 to $num-colors {
  .bgColor_#{$i} {
    background-color: adjust-hue($base-color, 360deg / $num-colors * $i);
  }
}
