<ion-view view-title="{{title}}" cache-view="false">
  <ion-content>
  <!--  <ion-refresher on-refresh="listings_refresh()"></ion-refresher> -->
   
      <div class="list card listing-box" ng-repeat="listing in listings | filter:q">
          <div class="row">
             <div class="col-3">
               <img class="list-image"  ng-if="listing.single_image" src="{{listing.single_image}}" >
               <img class="list-image"  ng-if="!listing.single_image" src="{{no_img}}" >
             </div>
             <div class="col-7">
               <p class="black-color"><b><span ng-bind="listing.company_name"></span></b></p>
               <p class="black-color"><span ng-bind="listing.address"></span></p>
             </div>
          </div>
          <div class="row align-center small-bg">
            <div class="col-5">
              <button class="nms-btn btn-theme1"><span ng-bind="listing.km"></span> km</button>
            </div>
            <div class="col-5">
              <div class="nms-btn btn-theme1">
                <a href="#/app/listingDetail/{{listing.id}}" class="link-tag">View more</a>
              </div>
            </div>
          </div>
         <!--  <img class="full-image"  src="/img/icon.png" > -->
     </div>

  <!--  <div class="list">

     <a class="item item-avatar nms-color-inner border" ng-repeat="listing in listings | filter:q"  href="#/app/listingDetail/{{listing.id}}"> 
        <img src="img/material1.jpg"> 
        <h2>{{listing.company_name}}  <span ng-if="listing.contact_person"> - ({{listing.contact_person}})</span></h2> 
        <p><span ng-bind="listing.km"></span> km  &nbsp; &nbsp;<span class="btn-adj">View details</span></p> 
      </a> 
 



              
  
     
     <p ng-if="listings.length ==0" style="text-align: center">
        <img ng-src="{{found}}">
      </p>
    
</div> -->
  </ion-content>
</ion-view>
