<ion-view view-title="{{item.service_category}}">
  <ion-content>
     <h4 class="align-center" ><b>{{item.company_name}}</b></h4>
     <p  class="align-center" >{{item.area}} </p>
     <p  class="align-center" ><button class="button button-small nme-btn" ng-click="openModal()"> Enquiry </button></p>
     
    <!--  <div class="list card showing-box" >
	      <div class="item item-body">
	        <img class="full-image" ng-if="item.single_image != null" src="{{item.single_image}}" style="width: 100%;height: 360px">
	     </div>
	   </div> -->

	   <div class="list card showing-box" ng-if="item.description != 0">
	      <div class="item item-body">
	        <p class="black-color">{{item.description }}</p>
	     </div>
	   </div>

	    <h4 class="align-center" ><b>Contact</b></h4>
       
       <div class="list card showing-box" >
	      <div class="item item-body">
	        <p class="black-color" >{{item.service_customer}}
		      <br/>
		      {{item.address}}
		      </p>
		      <div class="row">
			     <div class="col-5" ng-if="item.mobile_no !=null">
			     	<button class="nms-btn btn-theme1"><a ng-href="tel: {{item.mobile_no}}" class="link-tag">{{item.mobile_no}}</a></button>
			     </div>
			     <div class="col-5" ng-if="item.telephone_no !=null">
			     	<button class="nms-btn btn-theme1"><a ng-href="tel: {{item.telephone_no}}" class="link-tag">{{item.telephone_no}}</a></button>
			     </div>
			  </div>
			  <div class="row" ng-if="item.website !=null">
			  	  <button class="nms-btn btn-theme1"><a ng-click="GotoLink(item.website)" class="link-tag">{{item.website}}</a></button>
			  </div>
	     </div>
	   </div>

	    <h4 class="align-center" ><b>Working hours</b></h4>
       
       <div class="list card showing-box" >
	      <div class="item item-body">
	        <p class="black-color" >{{item.opening_hours | capitalize}} </p>
	     </div>
	   </div>

	   <div class="list card showing-box" >
	      <div class="item item-body">
		       <ion-slides ng-if="item.images.length !=null">
		        <ion-slide-page ng-repeat="img in item.images">
		          <img class="custom-class slider-image" ng-src="{{img.image}}"/>
		        </ion-slide-page>
		      </ion-slides>
	     </div>
	   </div>
      
      <h4 class="align-center" ><b>Share via</b></h4>
     <div class="row">
	     <div class="col-5" style="margin: 1px">
	        <button class="button button-block button-balanced item-icon-left" ng-click="whatsappShare(item.company_name,item.single_image)">
	            <i class="icon ion-social-whatsapp"></i>
	              <span style="font-size: 10px">WhatsApp</span>
	       </button>
	     </div>

	      <div class="col-5" style="margin: 1px">
	        <button class="button button-block button-royal item-icon-left" ng-click="OtherShare(item.company_name,item.single_image)">
	             <i class="icon ion-android-share-alt"></i>
	              <span  style="font-size: 10px">Other</span>
	      </button>
	     </div>
    </div>
  </ion-content>
</ion-view>

