<ion-view view-title="Near Me Services" cache-view="false">
   <ion-content>
<div class="list"> 
<label class="item item-input item-floating-label"> <span class="input-label">First Name</span> <input type="text" placeholder="First Name"> </label> 
<label class="item item-input item-floating-label"> <span class="input-label">Last Name</span> <input type="text" placeholder="Last Name"> </label> 
<br /> 

<div class="item item-checkbox"> 
<label class="checkbox"> <input type="checkbox"> </label> I read the terms & conditions </div> 
<div class="item item-checkbox"> <label class="checkbox"> <input type="checkbox"> </label> Haha, you liar. There are no T&C's </div> 

<br /> 

<label class="item item-radio"> <input type="radio" name="group"> <div class="item-content"> Tap Me </div> <i class="radio-icon ion-checkmark"></i> </label>

 <label class="item item-radio"> <input type="radio" name="group"> <div class="item-content"> Or Tap Me </div> <i class="radio-icon ion-checkmark"></i> </label> 

 <label class="item item-radio"> <input type="radio" name="group"> <div class="item-content"> Or Tap Me </div> <i class="radio-icon ion-checkmark"></i> </label> 

 <div class="item range range-positive"> <i class="icon ion-ios-sunny-outline"></i> <input type="range" name="volume" min="0" max="100" value="33"> <i class="icon ion-ios-sunny"></i> </div>

  <label class="item item-input item-select"> <div class="input-label"> Most Influential Teletubby </div> <select> <option>Laa-Laa</option> <option selected>Tinky Winky</option> <option>Dipsy</option> <option>Po</option> <option>Noo-noo</option> </select> </label> 

  <button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1"> Submit </button> 

  </div>
</ion-content>
   </ion-view>  

   <div class="list"> <a class="item item-avatar"> <img src="img/material1.jpg"> <h2>Material</h2> <p>Sheets of paper</p> </a> <a class="item item-avatar"> <img src="img/material2.jpg"> <h2>Motion</h2> <p>Accent and bring attention</p> </a> <a class="item item-avatar"> <img src="img/material3.jpg"> <h2>Ink</h2> <p>Fluidity</p> </a> </div>
                

                <div class="list"> <a class="item item-icon-left" > <i class="icon ion-email"></i> Check mail </a> <a class="item item-icon-left" > <i class="icon ion-mic-a"></i> Record album <span class="item-note"> Grammy </span> </a> <a class="item item-icon-left" > <i class="icon ion-person-stalker"></i> Friends <span class="badge badge-assertive">0</span> </a> </div>
                

                <ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-right': hasHeaderFabRight, 'has-header-fab-left': hasHeaderFabLeft}" align-title="right">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="fabContent"></ion-nav-view>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="dark-bg expanded" style="background: url('img/bg.jpg'); background-size: cover;">
           <!--  <span class="avatar" style="background: url('img/crown.jpg'); background-size: cover;"></span>
            <h2>Thronester</h2> -->
            <div class="list" ng-if="auth">
              <a class="item item-thumbnail-left  " href="#">
               <img src="../img/user.png" class="nms-white-txt">
                  <h2 class="nms-white-txt"><span ng-bind="user.customer_name"></span></h2>
                  <p class="nms-white-txt"><span ng-bind="user.city"></span></p>
                  <span class="nms-white-txt" ng-click="logout()"><i class="icon ion-log-out"></i></span>
              </a>
            </div>
             <div class="list" ng-if="!auth">
               <img src="../img/icon.png" class="logo_bg">
             </div>
             
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
         <div class="list"> 
              <a  ng-repeat="menu in menus" href="{{menu.href}}" class="item item-icon-left {{menu.class}}" menu-close> 
              <i class="icon {{menu.icon}}"></i> {{menu.label}} 
              </a> 
              
         </div>

        </ion-content>
    </ion-side-menu>
</ion-side-menus>
