  <ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-right': hasHeaderFabRight, 'has-header-fab-left': hasHeaderFabLeft}" align-title="right">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="fabContent"></ion-nav-view>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="dark-bg expanded" style="background: url('img/bg.jpg'); background-size: cover;">
           <!--  <span class="avatar" style="background: url('img/crown.jpg'); background-size: cover;"></span>
            <h2>Thronester</h2> -->
            <div class="list" ng-if="auth">
              <a class="item item-thumbnail-left   " href="#">
               <img src="{{userpic}}" class="nms-white-txt">
                  <h2 class="nms-white-txt"><span ng-bind="user.customer_name"></span></h2>
                  <p class="nms-white-txt"><span ng-bind="user.city"></span></p>
                  <span class="nms-white-txt" ng-click="logout()" style="font-size: 25px"><i class="icon ion-log-out"></i></span>
              </a>
            </div>

             <div class="list" ng-if="!auth">
               <img src="{{nearme}}" class="logo_bg">
             </div>
             
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
         <div class="list"> 
              <a  ng-repeat="menu in menus" href="{{menu.href}}" class="item item-icon-left {{menu.class}}" menu-close> 
              <i class="icon {{menu.icon}}"></i> {{menu.label}} 
              </a> 
              
         </div>

        </ion-content>
    </ion-side-menu>
</ion-side-menus>
