<ion-view view-title="News Details" cache-view="false">
   <ion-content>
     <h4 class="align-center" ><b>{{item.title}}</b></h4>
     <p  class="align-center" >{{item.time}}</p>

    <div class="list card showing-box" >
      <div class="item item-body">
        <p class="black-color">{{item.description }}</p>
     </div>
   </div>
   <div class="list card showing-box" >
      <div class="item item-body">
         <ion-slides ng-if="item.images.length !=null">
		        <ion-slide-page ng-repeat="img in item.images">
		          <img class="custom-class slider-image" ng-src="{{img.image}}"  />
		        </ion-slide-page>
		      </ion-slides>
     </div>
   </div>
   <h4 class="align-center" ><b>Share via</b></h4>
   <div class="row">
     <div class="col-5" style="margin: 1px">
        <button class="button button-block button-balanced item-icon-left" ng-click="whatsappShare(item)">
            <i class="icon ion-social-whatsapp"></i>
              <span style="font-size: 10px">WhatsApp</span>
       </button>
     </div>

      <div class="col-5" style="margin: 1px">
        <button class="button button-block button-royal item-icon-left" ng-click="OtherShare(item)">
             <i class="icon ion-android-share-alt"></i>
              <span  style="font-size: 10px">Other</span>
      </button>
     </div>

     
   </div>
<!-- 
     <div class="card">
      <div class="item item-divider">
        <b> Share this news</b>
      </div>
     <ul class="list">
       <li class="item" id="displayLabel">
      <div class="item item-text-wrap">
        <button class="button button-block button-royal item-icon-left" ng-click="whatsappShare()">
            <i class="icon ion-social-whatsapp"></i>
              WhatsApp
      </button>
      </li>
 
  
       <li class="item" id="displayLabel">
      <div class="item item-text-wrap">
        <button class="button button-block button-royal item-icon-left" ng-click="twitterShare()">
            <i class="icon ion-social-twitter"></i>
              twitter
      </button>
      </li>
 
 
      <li class="item" id="displayLabel">
      <div class="item item-text-wrap">
        <button class="button button-block button-royal item-icon-left" ng-click="OtherShare()">
             <i class="icon ion-android-share-alt"></i>
              Other
      </button>
      </li>
    </ul>
  
    
      
      </div> -->

  </ion-content>
</ion-view>               