<ion-view view-title="News" cache-view="false">
  <ion-content>
   <ion-refresher on-refresh="listings_refresh()"></ion-refresher>
   <div class="list">

    <a class="item item-avatar nms-color-inner border" ng-repeat="news in newss | filter:q" href="#/app/newsDetails/{{news.id}}">
      <img src="{{news.image}}">
      <h2 class="nms-color-inner">{{news.title}} </h2>
       <p><span >{{news.time}}</span></p>                    
       </p>
    </a>
     

     <p ng-if="newss.length ==0" style="text-align: center">
        <img ng-src="{{found}}">
      </p>
    
</div>
  </ion-content>
</ion-view>
