<ion-view view-title="Notification">
     <ion-content>
     <h4 class="" style="text-align: center;"><b>{{listings.title}}</b></h4>

    <div class="list card" style="background-color: #E0F2F1;box-shadow: 1px 2px 6px black">
      <div class="item item-body">
        <p> <b>{{listings.description }}</b></p>
     </div>
   </div>

</ion-content>
</ion-view>