<ion-view view-title="Post your listing" cache-view="false">
     <ion-content ng-hide="auth">
     <div ng-show="reg">
      <form ng-submit="doReg(regData)" >
      <div class="list">
         <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="regData.customer_name">
        </label>
        <label class="item item-input">
          <span class="input-label">Trade Name</span>
          <input type="text" ng-model="regData.trade_name">
        </label>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="regData.username">
        </label>
         <label class="item item-input">
          <span class="input-label">e-mail</span>
          <input type="email" ng-model="regData.email_id">
        </label>
         <label class="item item-input">
          <span class="input-label">Mobile</span>
          <input type="tel" ng-model="regData.mobile_no">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="regData.password">
        </label>
         <label class="item item-input">
          <span class="input-label">address</span>
          <input type="text" ng-model="regData.address_1">
        </label>
        <label class="item item-input">
          <span class="input-label">address</span>
          <input type="text" ng-model="regData.address_2">
        </label>
        
        <label class="item item-input">
          <span class="input-label">city</span>
          <input type="text" ng-model="regData.city">
        </label>
        <label class="item item-input">
          <span class="input-label">pincode</span>
          <input type="text" ng-model="regData.postalcode">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Register</button>
         </label>
      </div>
    </form>
        <div class="list">
            <label class="item">
              <button class="button button-block button-stable" ng-click="loginOpen()">Login</button>
             </label>
        </div>
    </div>
    
    <div ng-show="login"> 
     <form ng-submit="doLogin(loginData)" >
      <div class="list">
         <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="loginData.username">
        </label>
         <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
         <label class="item">
          <button class="button button-block button-positive" type="submit">Login</button>
         </label>
     </div>
    </form>
        <div class="list">
            <label class="item">
              <button class="button button-block button-stable" ng-click="register_open()">Register</button>
             </label>
        </div>
      
  </div>

  </ion-content>

  <ion-content ng-show="auth">
  <a ng-click="open_post()" class="button button-stable">Post Your Listing</a>
  <a ng-click="open_list()" class="button button-stable">Listing</a>
  <a ng-click="open_dash()" class="button button-stable">Dashboard</a>
  
  <div ng-show="post_list">

      <div class="list">
     <a ng-repeat="item in own_listing" 
           href="#/app/tourists/{{item.id}}"
           class="item item-thumbnail-left nms-color-inner">
          <img ng-src="{{ item.image }}">
         <h2>{{ item.service_category }}</h2>
          <h4>{{ item.company_name }}</h4>
          <p>{{ item.contact }}</p>
          <button ng-if="item.status==1">Active</button>
          <button ng-if="item.status==0">InActive</button>
        </a>
        <span ng-if="own_listing.length==0">No listing found</span>

      </div>
  </div>
    
    <div ng-show="post_form">
   <p>Post your listing</p>
     <form ng-submit="doService(serviceData)">
      <div class="list">
         <label class="item item-input">
          <span class="input-label">Service Category</span>
          <!-- <input type="text" ng-model="regData.customer_name"> -->
           <select ng-options="categori.id as categori.name for categori in categories" ng-model="serviceData.service_category" >
                    <option value="">Choose Service category</option>
           </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Service Title</span>
          <input type="text" ng-model="serviceData.service_title">
        </label>
        <label class="item item-input">
          <span class="input-label">Service Mobile</span>
          <input type="tel" ng-model="serviceData.service_mobile">
        </label>
          
            <div class="padding">
            <div class="relative">
            <i class="icon ion-ios-close close" style="color:rgba(255, 255, 255, 0.93);font-size: 26px;" ng-show="model_image" ng-click="delete_image()"></i>
           <img ng-src="{{pathForImage(model_image)}}" class="full-image" ng-show="model_image">
           </div>
          <button class="button button-full icon-left ion-camera" type="button" ng-show="!model_image" ng-click="loadImage()">Take Photo</button>
       </div>

         <label class="item">
          <button class="button button-block button-positive" type="submit">Submit</button>
          <button class="button button-block button-stable" ng-click="Cancel()">Cancel</button>
        </label>
        </div>

    </form>
    </div>
    <div ng-show="dash">
      <h3>Dashboard</h3>
    </div>
  </ion-content>
</ion-view>

