<ion-view view-title="{{item.company_name}}">
  <ion-content>
    <div class="list card">





<div class="list"> 
     <div class="item item-button-right"> <h2>{{item.company_name}} <br/>{{item.area}}</h2> 
       <button class="button button-small nme-btn" ng-click="openModal()"> Book </button> 
      </div> 
 </div>
                


  <div class="item item-body">
    
    
    <img class="full-image" ng-if="item.single_image != null" src="{{item.single_image}}" style="width: 100%;height: 260px">
   
         <div class="card" ng-if="item.description !='0'">
		  <div class="item item-text-wrap">
		     {{item.description}}
		  </div>
		</div>
       <div class="card">
		  <div class="item item-divider">
		    Service Category
		  </div>
		  <div class="item item-text-wrap">
		     {{item.service_category}}
		  </div>
		</div>

		 <div class="card">
		  <div class="item item-divider">
		    Service contact
		  </div>
		  <div class="item item-text-wrap">
		      <p>{{item.service_customer}}<br/>
		      {{item.contact}}<br/>
		      {{item.address}}</p>
		  </div>
		</div>
		<div class="card">
		  <div class="item item-divider">
		    Tags to search
		  </div>
		  <div class="item item-text-wrap">
		      {{item.service_keys}}
		  </div>
		</div>

		<div class="card" ng-if="!item.opening_hours">
		  <div class="item item-text-wrap">
		    Service time is {{item.opening_hours}} 
		  </div>
		</div>
		<div class="card" ng-if="item.established_year!=''">
		  <div class="item item-text-wrap">
		    Estalblished since {{item.established_year}}
		  </div>
		</div>
		<div class="card" ng-if="item.website!=''">
		  <div class="item item-text-wrap">
		    Website {{item.website}}
		  </div>
		</div>
		<div class="card" ng-if="!item.price_description">
		  <div class="item item-text-wrap">
		    Price :  {{item.price_description}}
		  </div>
		</div>
		<div class="card" ng-if="item.isic_code !='0'">
		  <div class="item item-text-wrap">
		    Our ISIC {{item.isic_code}}
		  </div>
		</div>

		<div class="card" ng-if="!item.type">
		  <div class="item item-text-wrap">
		    Service type is  {{item.type}}
		  </div>
		</div>
    <br/>
      <ion-slides ng-if="item.images.length !=null">
        <ion-slide-page ng-repeat="img in item.images">
          <img class="custom-class" ng-src="{{img.image}}"/>
        </ion-slide-page>
      </ion-slides>

      <!-- <a href="#" class="subdued">Like</a>
      <a href="#" class="subdued">Comments</a> -->
    </p>
  </div>

</div>
  </ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">My Modal title</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </ion-modal-view>
</script>