<div class="modal">
<header class="bar bar-header bar-positive"> 
<h1 class="title">Book a service</h1>
<div class="button button-clear" ng-click="closeModal()">
<span class="icon ion-close"></span>
</div></header>
<content has-header="true" padding="true">
 <div class="list margin-head" >
 	 <form ng-submit="getEnquiry(regData)" >
      <div class="list">
         <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="regData.customer_name">
        </label>
        <label class="item item-input">
          <span class="input-label">Trade Name</span>
          <input type="text" ng-model="regData.trade_name">
        </label>
       
         <label class="item item-input">
          <span class="input-label">e-mail</span>
          <input type="email" ng-model="regData.email_id">
        </label>
         <label class="item item-input">
          <span class="input-label">Mobile</span>
          <input type="tel" ng-model="regData.mobile_no">
        </label>
         <label class="item item-input">
          <span class="input-label">Remarks</span>
          <input type="tel" ng-model="regData.remarks">
        </label>
       
        <label class="item">
          <button class="button button-block button-positive" type="submit">Get Service</button>
         </label>
      </div>
    </form>
 </div>
</content>
</div>