<ion-view view-title="Post your listing" cache-view="false">
     <ion-content ng-hide="auth">
     <div ng-show="reg">
      <form ng-submit="doReg(regData)" >
      <div class="list">
         <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="regData.customer_name">
        </label>
        <label class="item item-input">
          <span class="input-label">Trade Name</span>
          <input type="text" ng-model="regData.trade_name">
        </label>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="regData.username">
        </label>
         <label class="item item-input">
          <span class="input-label">e-mail</span>
          <input type="email" ng-model="regData.email_id">
        </label>
         <label class="item item-input">
          <span class="input-label">Mobile</span>
          <input type="tel" ng-model="regData.mobile_no">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="regData.password">
        </label>
         <label class="item item-input">
          <span class="input-label">address</span>
          <input type="text" ng-model="regData.address_1">
        </label>
        <label class="item item-input">
          <span class="input-label">address</span>
          <input type="text" ng-model="regData.address_2">
        </label>
        
        <label class="item item-input">
          <span class="input-label">city</span>
          <input type="text" ng-model="regData.city">
        </label>
        <label class="item item-input">
          <span class="input-label">pincode</span>
          <input type="text" ng-model="regData.postalcode">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Register</button>
         </label>
      </div>
    </form>
        <div class="list">
            <label class="item">
              <button class="button button-block button-stable" ng-click="loginOpen()">Login</button>
             </label>
        </div>
    </div>
    
    <div ng-show="login"> 
     <form ng-submit="doLogin(loginData)" >
      <div class="list">
         <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="loginData.username">
        </label>
         <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
         <label class="item">
          <button class="button button-block button-positive" type="submit">Login</button>
         </label>
     </div>
    </form>
        <div class="list">
            <label class="item">
              <button class="button button-block button-stable" ng-click="register_open()">Register</button>
             </label>
        </div>
      
  </div>

  </ion-content>
<ion-tabs ng-show="auth">
 <ion-tab title="Home">

 <ion-view view-title="Listing">
  <ion-content>
      <div class="list"> 
        <div class="item item-divider"> Customer Details </div> 
        <a class="item"> Name : {{customer.customer_name }} </a> 
        <a class="item"> Trade : {{customer.trade_name }} </a> 
        <a class="item"> {{customer.address_1  }} {{customer.address_2   }}  </a> 
        <a class="item"> {{customer.city  }} - {{customer.postalcode    }}  </a> 
        <div class="item item-divider">contact </div> 
        <a class="item"> {{customer.mobile_no  }} {{customer.telephone_no  }} </a> 
        <a class="item" ng-if="email_id "> {{customer.email_id  }} </a>
        <div class="item item-divider">Service details </div> 
        <a class="item"> App Service days {{customer.service_days   }}  </a> 
        <a class="item" > My Service count {{customer.service_count_total   }} </a> 
        <a class="item" > My used Service count {{customer.service_count_usage    }} </a> 
    </div>
                
  </ion-content>
  </ion-view>
 </ion-tab>
 
 <ion-tab title="Listing">

 <ion-view view-title="Listing" cache-view="false">
  <ion-content>
     <div class="list">

     <!-- href="#/app/listingDetail/{{item.id}}" -->
     <a ng-repeat="item in own_listing" 
           class="item item-thumbnail-left nms-color-inner" href="#/app/ownListingDeatils/{{item.id}}">
          <img ng-if="item.service_image" ng-src="{{ item.service_image }}">
          <img ng-if="!item.service_image" ng-src="{{ no_image }}">
         <h2>{{ item.service_category }}</h2>
          <h4>{{ item.company_name }}</h4>
          <p>{{ item.contact }}</p>
          <span ng-if="item.status==1" class="green-color">Active</span>
          <span ng-if="item.status==0" class="red-color">Waiting for approval</span>
        </a>
         <p ng-if="own_listing.length ==0" style="text-align: center">
          <img ng-src="{{found}}">
        </p>
      </div>
  </ion-content>
  </ion-view>
 </ion-tab>
 
 <ion-tab title="Post Listing">
<ion-view view-title="Listing">
  <ion-content>
     <form ng-submit="doService(serviceData)">
      <div class="list">
       <label class="item item-input item-select"> <div class="input-label"> Service Category </div> 
      <select ng-options="categori.id as categori.name for categori in categories" ng-model="serviceData.service_category" >
                    <option value="">Service category</option>
           </select>
            </label> 

         
        <label class="item item-input">
          <span class="input-label">Service Title</span>
          <input type="text" ng-model="serviceData.service_title">
        </label>
        <label class="item item-input">
          <span class="input-label">Service Mobile</span>
          <input type="tel" ng-model="serviceData.service_mobile">
        </label>
          
            <div class="padding">
            <div class="relative">
            <i class="icon ion-ios-close close" style="color:rgba(255, 255, 255, 0.93);font-size: 26px;" ng-show="model_image" ng-click="delete_image()"></i>
           <img ng-src="{{pathForImage(model_image)}}" class="full-image" ng-show="model_image">
           </div>
          <button class="button button-full icon-left ion-camera" type="button" ng-show="!model_image" ng-click="loadImage()">Take Photo</button>
       </div>

         <label class="item">
          <button class="button button-block button-positive" type="submit">Submit</button>
          <button class="button button-block button-stable" ng-click="Cancel()">Cancel</button>
        </label>
        </div>

    </form>
  </ion-content>
  </ion-view>
 </ion-tab>
 
</ion-tabs>