<ion-view view-title="Near Me Services" cache-view="false">
   <ion-content>
   
<div class="list" style="border-bottom: 1px solid rgb(157,36,98)"> 
  <label class="item item-input item-select"> 
     <div class="input-label" style="width: 150px">   <input type="text" placeholder="Search services" ng-model="q"></div> 
     
    <select ng-options="loca.id as loca.name for loca in locations" ng-model="location" ng-change="change_location(location)">
        <option value="">Change Location</option>
    </select>
  </label> 

  </div>
  <div class="list">
     <a class="item item-icon-left  nms-color border"  ng-repeat="service in services | filter:q" href="#/app/listing/{{service.id}}" >
       <i class="icon ion-checkmark-circled"></i>
         {{service.name}}
    </a>
   </div>

   

</ion-content>
</ion-view>             
