<ion-view view-title="{{category | capitalize}}">
     <ion-content>
     <h4 class="align-center" ><b>{{listings.title}}</b></h4>
     <p  class="align-center" >{{category | capitalize}}</p>

    <div class="list card showing-box" >
      <div class="item item-body">
        <p class="black-color">{{listings.description }}</p>
     </div>
   </div>

   <h4 class="align-center" ><b>Share via</b></h4>
   <div class="row">
     <div class="col-5" style="margin: 1px">
        <button class="button button-block button-balanced item-icon-left" ng-click="whatsappShare(listings.title)">
            <i class="icon ion-social-whatsapp"></i>
              <span style="font-size: 10px">WhatsApp</span>
       </button>
     </div>

      <div class="col-5" style="margin: 1px">
        <button class="button button-block button-royal item-icon-left" ng-click="OtherShare(listings.title)">
             <i class="icon ion-android-share-alt"></i>
              <span  style="font-size: 10px">Other</span>
      </button>
     </div>

     
   </div>

</ion-content>
</ion-view>