  <ion-view view-title="{{special | capitalize}}">
     <ion-content>
      <div class="list">
     <a ng-repeat="item in listings" 
           href="#/app/specialDetail/{{item.id}}"
           class="item nms-color border">
          {{ item.title }}
          <h4 class="list_post">{{ item.time }}</h4>
        </a>

      </div>
      <p ng-if="listings.length ==0" style="text-align: center">
      	<img src="../img/found.png">
      </p>
     
  </ion-content>
</ion-view>
