<ion-view view-title="Tourist">
     <ion-content>
      <div class="list">
     <a ng-repeat="item in items" 
           href="#/app/tourist/{{item.id}}"
           class="item item-thumbnail-left nms-color-inner">
          <img ng-src="{{ item.image }}">
          <h2 class="item_wght">{{ item.place_name }}</h2>
          <h4 class="clr">{{ item.area }}</h4>
          <ul>
            <li><i class="ion ion-android-star ion_icon ion_star"></i><i class="ion ion-android-star ion_icon ion_star"></i><i class="ion ion-android-star ion_icon ion_star"></i><i class="ion ion-android-star-half ion_icon ion_star"></i><i class="ion ion-android-star-outline ion_icon ion_star"></i></li>
            <li><i class="ion ion-thumbsup ion_icon"></i>Like</li>
          </ul>
        </a>

      </div>
  </ion-content>
</ion-view>


 