<ion-view view-title="{{item.place_name}}">
  <ion-content>
     <h4 class="align-center" ><b>{{item.place_name}}</b></h4>
     <p  class="align-center" >{{item.area}},{{item.state}}</p>
     
      <div class="list card showing-box" >
	      <div class="item item-body">
	        <img class="full-image" src="{{item.single_image}}">
	     </div>
	   </div>
      
      <div class="list card showing-box" >
	      <div class="item item-body">
	        <p class="black-color">{{item.description }}</p>
	     </div>
	   </div>
       

       <h4 class="align-center" ><b>Special Foods</b></h4>
       
       <div class="list card showing-box" >
	      <div class="item item-body">
	        <p class="black-color" ng-repeat="brand in (item.special_foods | customSplit)">{{ brand | capitalize}}{{$last ? '' : ', '}}</p>
	     </div>
	   </div>

	   <h4 class="align-center" ><b>Special Season</b></h4>
       
       <div class="list card showing-box" >
	      <div class="item item-body">
	        <p class="black-color" >{{item.special_session | capitalize}} </p>
	     </div>
	   </div>

	   <h4 class="align-center" ><b>Place to visit</b></h4>
       
       <div class="list card showing-box" >
	      <div class="item item-body">
	        <p class="black-color" ng-repeat="place in (item.place_to_visit | customSplit)">{{ place | capitalize }}{{$last ? '' : ', '}}</p>
	     </div>
	   </div>
       
       <h4 class="align-center" ><b>Bus Station</b></h4>
       
       <div class="list card showing-box" >
	      <div class="item item-body">
	        <p class="black-color" >Nearest bus station is {{item.near_bus_station}} ({{item.km_from_bs}} km) </p>
	     </div>
	   </div>

	   <h4 class="align-center" ><b>Railway Station</b></h4>
       
       <div class="list card showing-box" >
	      <div class="item item-body">
	        <p class="black-color" >Nearest Railway station is {{item.near_railway_station}} ({{item.km_from_rs}} km) </p>
	     </div>
	   </div>

	   <h4 class="align-center" ><b>Airport</b></h4>
       
       <div class="list card showing-box" >
	      <div class="item item-body">
	        <p class="black-color" >Nearest Airport is {{item.near_airport}} ({{item.km_from_air}} km) </p>
	     </div>
	   </div>

	   <div class="list card showing-box" >
	      <div class="item item-body">
	        <ion-slides >
		        <ion-slide-page ng-repeat="img in item.images">
		          <img class="custom-class slider-image" ng-src="{{img.image}}" />
		        </ion-slide-page>
		      </ion-slides>
	     </div>
	   </div>
        
        <h4 class="align-center" ><b>Share via</b></h4>
	   <div class="row">
	     <div class="col-5" style="margin: 1px">
	        <button class="button button-block button-balanced item-icon-left" ng-click="whatsappShare(item.place_name,item.single_image)">
	            <i class="icon ion-social-whatsapp"></i>
	              <span style="font-size: 10px">WhatsApp</span>
	       </button>
	     </div>

	      <div class="col-5" style="margin: 1px">
	        <button class="button button-block button-royal item-icon-left" ng-click="OtherShare(item.place_name,item.single_image)">
	             <i class="icon ion-android-share-alt"></i>
	              <span  style="font-size: 10px">Other</span>
	      </button>
	     </div>
    </div>

  </ion-content>
</ion-view>

